@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

::selection {
  background: #ff5b5b79;
}

* {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-thumb {
  background-color: #a0a0a096;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #0c0c0c96;
}
::-webkit-scrollbar-track {
  background-color: #ffe9e9;
}
